<div class="card-container">
  <mat-card class="card card--producer">
    <mat-card-header>
      <mat-card-title class="card__title">Agricultural Producer</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="card__content">
        <p><strong>Full Name:</strong> {{ farmer.fullName }}</p>
        <p><strong>City:</strong> {{ farmer.city }}</p>
        <p><strong>Country:</strong> {{ farmer.country }}</p>
        <p><strong>Phone:</strong> {{ farmer.phone }}</p>
        <p><strong>DNI:</strong> {{ farmer.dni }}</p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="card card--distributor">
    <mat-card-header>
      <mat-card-title class="card__title">Distributor</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="card__content">
        <p><strong>Full Name:</strong> {{ distributor.fullName }}</p>
        <p><strong>City:</strong> {{ distributor.city }}</p>
        <p><strong>Country:</strong> {{ distributor.country }}</p>
        <p><strong>Phone:</strong> {{ distributor.phone }}</p>
        <p><strong>Company Name:</strong> {{ distributor.companyName }}</p>
        <p><strong>RUC:</strong> {{ distributor.ruc }}</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
