<div class="p-4 ">
  <div class="text-lg font-bold">
    <mat-icon>agriculture</mat-icon> AgroControl
  </div>
  <nav class="!space-y-2 px-4 mt-4">
    <a [routerLink]="['home-agricultural-process/1']" class="block py-2">Home</a>
    <a [routerLink]="['Irrigation-history']" class="block py-2">Irrigation</a>
    <a [routerLink]="['CropTreatment-history']" class="block py-2">Crop Treatment</a>
    <a [routerLink]="['Harvest-history']" class="block py-2">Harvest</a>
    <a [routerLink]="['finance-view']" class="block py-2">Finances</a>
    <a [routerLink]="['products-inventory']" class="block py-2">Store</a>
    <a (click)="logOut()" class="block py-2 cursor-pointer">Log Out</a>
  </nav>
</div>

