<div class="flex flex-col space-y-6 mt-4 p-2">
  <button
    mat-raised-button
    color="primary"
    (click)="openModal()"
    class="!w-full !max-w-xs !bg-blue-600 !text-white !rounded-lg !py-2 !px-4 !transition-transform !transform !hover:scale-105 !shadow-lg"
  >
    Add Worker
  </button>

  <app-workers-field-table [workers]="dataSource" class="w-full"></app-workers-field-table>

  <button
    mat-raised-button
    color="primary"
    (click)="goToHome()"
    class="!w-full !max-w-xs !bg-blue-600 !text-white !rounded-lg !py-2 !px-4 !transition-transform !transform !hover:scale-105 !shadow-lg"
  >
    Return
  </button>

  <app-worker-field-form
    [isModalOpen]="modalOpen"
    (close)="closeModal()"
    [userId]="1"
    (success)="handleSuccess()"
    class="w-full max-w-lg"
  ></app-worker-field-form>
</div>
